/* side nav menu */
.sidebar {
  margin: 0;
  height: 100vh;
  background-color: teal;
  position: fixed;
  overflow: auto;
  display: grid;
  grid-template-columns: 30% 1;
}

/* individual navs */
.sidebar a {
  display: block;
  color: black;
  padding: 5px;
  text-decoration: none;
  text-align: left;
  width: auto;
  box-sizing: border-box;
}

/* hover for the sidebar menu */
.sidebar a:hover {
  background-color: aqua;
}

@media screen {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
}
